.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.bttn {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.bttn:hover {
  background-color: lightgreen;
  color: black;
}

.bttn.red {
  background-color: red;
  color: white;
}

.bttn.red:hover {
  background-color: salmon;
  color: black;
}
